spring:
  datasource:
    url: jdbc:postgresql://${DB_HOST:localhost}:${DB_PORT:5432}/sangiorgio_db
    username: ${DB_USERNAME:sangiorgio_user}
    password: ${DB_PASSWORD:root}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

cloud:
  aws:
    credentials:
      access-key: ${AWS_ACCESS_KEY}
      secret-key: ${AWS_SECRET_KEY}
    region:
      static: ${AWS_REGION:us-east-1}
    sqs:
      queue:
        partial-payments: ${SQS_PARTIAL_PAYMENTS_URL:URL_DA_FILA_PARCIAL}
        full-payments: ${SQS_FULL_PAYMENTS_URL:URL_DA_FILA_TOTAL}
        excess-payments: ${SQS_EXCESS_PAYMENTS_URL:URL_DA_FILA_EXCEDENTE}
